.trackbox {
    padding: 0.2rem;
    background: rgb(44, 35, 102);
    font-size: 1rem;
    color:rgb(244, 244, 236);
    text-align: start;
}

.name {
    font-size: 1.2rem;
    font-weight: 700;
}

.artist {
    font-style: italic;
    margin-bottom: 0.3rem;
}

.artist_list {
    list-style: none;
}

.album {
    color: rgb(210, 207, 207);
}